body {
  background-image: url("../public/bg-3.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.App {
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}
.nbar {
  max-height: 10vh;
  position: relative;
  z-index: 1;
  background: rgb(222, 240, 249);

}
.navv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
}
.p-home {
  max-height: 90vh;
  padding: 2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.p-h4 {
  font-size: 3.2rem;
  font-weight: 700;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.7s;
}
.p-h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
  color: rgb(101, 170, 230);
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.p-h3 {
  font-size: 3.2rem;
  font-weight: 700;
  animation: slideRight 1s ease forwards;
  animation-delay: 1.3s;
}
.p-h3:hover span {
  display: none;
}
.p-h3:hover::after {
  content: " React Developer";
  color: rgb(101, 170, 230);
}

.p-h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
.p-img {
  width: 35vw;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2s, 3.1s;
}
.p-p {
  font-size: 1rem;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1.6s;
}

.p-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid rgb(101, 170, 230);
  border-radius: 50%;
  font-size: 2rem;
  color: rgb(101, 170, 230);
  margin: 3rem 1.5rem 3rem 0;
  text-decoration: none;
  animation: slideBottom 1s ease forwards;
  animation-delay: 1.8s;
}
.p-link:hover {
  background: rgb(101, 170, 230);
  color: rgb(172, 226, 252);
  box-shadow: 0 0 1rem rgb(101, 170, 230);
}
.p-span {
  color: rgb(101, 170, 230);
}
.p-btn {
  width: 15rem;
  display: inline-block;
  padding: 1rem 1rem;
  background: rgb(101, 170, 230);
  border-radius: 4rem;
  box-shadow: 0 0 1rem rgb(101, 170, 230);
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  color: rgb(172, 226, 252);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
}
.p-btn:hover {
  box-shadow: none;
  background-color: rgb(184, 222, 241);
  color: rgb(101, 170, 230);
}
.n-link {
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-right: 0.5rem;
}
.n-link:hover {
  color: rgb(101, 170, 230);
}

.h-span {
  font-size: large;
  font-weight: bold;
  color: rgb(101, 170, 230);
}
.about {
  padding: 1rem 5rem;
}
.card {
  width: 18rem;
}

.card:hover {
  transform: scale(1.4);
}
.card-body {
  background-color: rgb(220, 234, 246);
}
.card-body:hover {
  background-color: rgb(194, 233, 252);
}

.row {
  display: flex;
  flex-direction: row;
}

/* media queries */

@media screen and (max-width: 1300px) {
  .p-h1 {
    font-size: 3.5rem;
  }
  .p-h3 {
    font-size: 2.5rem;
  }
  .p-h4 {
    font-size: 2.5rem;
  }
  .p-p {
    font-size: 0.8rem;
  }
  .card {
    width: 12rem;
    height: auto;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .row {
    display: block;
  }
}
@media screen and (max-width: 925px) {
  .card {
    width: 10rem;
    height: auto;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 790px) {
  .p-h1 {
    font-size: 2.5rem;
  }
  .p-h3 {
    font-size: 2rem;
  }
  .p-h4 {
    font-size: 2rem;
  }
  .p-p {
    font-size: 0.7rem;
  }
  .p-link {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    margin: 1.5rem 0.7rem 1.5rem 0;
  }
  .p-btn {
    width: 8rem;
    padding: 0.5rem 0.5rem;
    border-radius: 2rem;
    font-size: 0.8rem;
    font-weight: 200;
  }
  .p-home {
    display: block;
  }
  .p-img {
    width: 100%;
    height: auto;
    padding: 10%;
    box-sizing: border-box;
  }
  .card {
    width: 8rem;
    height: auto;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 668px) and (min-width: 576px) {
  .card {
    width: 6rem;
    height: auto;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 575px) {
  .card {
    width: 100%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 368px) {
  .p-h1 {
    font-size: 1.5rem;
  }
  .p-h3 {
    font-size: 1rem;
  }
  .p-h4 {
    font-size: 1rem;
  }
  .p-p {
    font-size: 0.5rem;
  }
  .p-link {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.7rem;
    margin: 1rem 0.5rem 1rem 0;
  }
  .p-btn {
    width: 5rem;
    padding: 0.3rem 0.3rem;
    border-radius: 1rem;
    font-size: 0.5rem;
    font-weight: 200;
  }
  .p-home {
    display: block;
  }
  .p-img {
    width: 100%;
    height: auto;
    padding: 10%;
    box-sizing: border-box;
  }
  .card {
    height: auto;
    box-sizing: border-box;
  }
}

/* KEYFRAMES ANIMATION */

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translatey(100px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translatey(-100px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes floatImage {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-24px);
  }
  100% {
    transform: translatey(0);
  }
}
